<h2>Detail Mahasiswa</h2>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">
            <%= contact.nama %>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <%= contact.nohp %>
        </h6>
        <p class="card-text">
            <%= contact.email %>
        </p>
        <form action="/contact?_method=DELETE" method="post" class="d-inline">
            <input type="hidden" name="nama" value="<%= contact.nama %>">
            <button type="submit" class="btn btn-danger badge" onclick="return confirm('yakin??')">hapus</button>
        </form>
        <a class="btn btn-success badge" href="/contact/update/<%= contact.nama %>">edit</a>
        <a href="/contact" class="card-link d-block mt-3">&laquo;Kembali</a>
    </div>
</div>